// global varibales
$baseFontSize: 								  54;

// for loop -------------------------------------
$f:											  12;
$i:                           				null;
$p:                 						null;
$posn-ab:						    null,t,r,b,l;
$posn-lst:            null,top,right,bottom,left;

// for margin padding
$gap:                      					   5;

// color ----------------------------------------
$white:     								#fff;
$hblue:    								 #007EE6; // header-bar color
$nblue:     						     #1174C1; // nav color
$lablue:                                 #d9ecfd; // nav li active color
$cbgray:                                 #efefef; // content background-color
