<div class="nav-side">
    <form name="floderInvalid">
	<div class="bar">
		<button class="button button-icon ion-ios-arrow-left" data-ui-sref="lists"></button>
		<div class="title">{{translation.newFolder}}</div>
	</div>
	<ion-content class="menu-list has-header has-tabs">
		<ion-list>
			<ion-item class="item item-input">
				<input id="folderName" type="text" placeholder="{{translation.folderName}}" ng-model="data.name" required>
			</ion-item>
		</ion-list>
    </ion-content>
    <ion-tabs>
        <div class="button button-clear blue al" data-ui-sref="lists">
            {{translation.cancel}}
        </div>
        <div class="button button-clear ar mr5 blue"  ng-click="add(data.name)" ng-disabled="floderInvalid.$invalid">
            {{translation.ok}}
        </div>
    </ion-tabs>
    </form>
</div>